button {
  padding: 10px 30px;
}

button:hover {
  cursor: pointer;
  color: orange;
  background-color: aqua;
}

tbody tr:nth-child(odd) {
  background-color: lightgray;
}

thead {
  background-color: black;
  color: white;
}
