.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-twenty {
  flex-basis: 20%;
}

h2 {
  text-align: center;
  margin: 5px;
  font-size: 20px;
}

.dmsans {
  font-family: "DM Sans", sans-serif;
}

img {
  max-height: 250px;
  margin: 7px;
}

h5 {
  margin: 7px;
  font-size: 10px;
}

span.gray {
  color: lightgray;
  font-size: 10px;
}

span.redback {
  background-color: rgb(255 230 207);
  font-size: 10px;
}
