.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-full-width {
  flex-basis: 100%;
}

.column-half-width {
  flex-basis: 50%;
}

.column-third-width {
  flex-basis: calc(100% / 3);
}

.column-two-thirds-width {
  flex-basis: calc(200% / 3);
}

.column-fifth-width {
  flex-basis: 20%;
}

.centered {
  justify-content: center;
}

.wrap-fifties {
  flex-wrap: wrap;
}

.centered-text,
p.centered-text {
  text-align: center;
  margin-bottom: 50px;
}

p {
  font-family: Karla, sans-serif;
  font-size: 13px;
  line-height: 25px;
  color: rgb(141 141 141);
}

h1 {
  font-family: Karla, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  padding-top: 50px;
}

h3 {
  font-family: Karla, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.button-holder {
  justify-content: center;
}

button {
  margin-top: 10px;
  padding: 8px 35px;
  background-color: white;
  color: #d14c45;
  border: solid 2px #d14c45;
  font-family: Karla, sans-serif;
  font-weight: bold;
}

img {
  max-width: 100px;
  max-height: 100px;
}

.push-down {
  margin-top: 20px;
}
