.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-full-width {
  flex-basis: 100%;
}

.column-half-width {
  flex-basis: 50%;
}

.column-third-width {
  flex-basis: calc(100% / 3);
}

.column-two-thirds-width {
  flex-basis: calc(200% / 3);
}

.column-fifth-width {
  flex-basis: 20%;
}

.centered {
  justify-content: center;
}

.wrap-fifties {
  flex-wrap: wrap;
}
