.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-eighty {
  flex-basis: 80%;
}

.column-half {
  flex-basis: 50%;
}

.column-quarter {
  flex-basis: 25%;
}

.column-tenth {
  flex-basis: auto;
}

.footer-text {
  font-family: Avenir, sans-serif;
  font-size: 0.6rem;
}

.inline {
  display: inline;
}

.gray-text {
  color: #707070;
}

.block {
  display: block;
}

.gray-back {
  background-color: #525351;
}

.light-gray-back {
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.thick-pads {
  padding: 50px;
}

.small-logo {
  max-width: 80px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.white-text {
  color: white;
  font-family: Avenir, sans-serif;
}

.tiny-text {
  font-size: 8px;
  line-height: 0.9rem;
  color: #f5f5f5;
}

.lower-nav {
  font-size: 10px;
}

.column-auto {
  flex-basis: auto;
}

.gray-links {
  color: #525351;
}

.gray-links:visited {
  color: #525351;
}

.thinner-pads {
  padding: 20px 50px;
}

.gap {
  gap: 20px;
}
